
.searchForm {
  border: 1px solid rgb(221, 221, 221);
  height: auto;
  width: 700px;
  background-color: #fff;
}
@media screen and (max-width: 960px) {
  .navbar-nav {
    align-items: center;
  }
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 800px) {
  .searchForm{
    margin-left:-5px;
  }
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
  .navbar-nav {
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .searchForm{
    margin-left:-95px;
  }
  

}
